files:
    "/tmp/cronjob-for-webapp" :
        mode: "000777"
        owner: webapp
        group: webapp
        content: |
            # skip
            # clean up files created by above cronjob
            * * * * * source /home/ec2-user/.bashrc && /bin/su  webapp -c "sh /tmp/manager.sh"
    "/tmp/manager.sh" :
        mode: "000777"
        owner: webapp
        group: webapp
        content: |
            if [ -f /tmp/queue_pid ];
             then 
                CONTENT=$(eval echo -e `</tmp/queue_pid`);
                ps -fp $CONTENT | grep -q "queue:work  --daemon" && echo "process exists" ||
                (php /var/www/html/artisan queue:work  --daemon &
                echo $! > /tmp/queue_pid;)
             else
                 php /var/www/html/artisan queue:work  --daemon &
                 echo $! > /tmp/queue_pid;
             fi

        


container_commands:
    01-webapp-cronjobs:
        command: source /home/ec2-user/.bashrc && crontab /tmp/cronjob-for-webapp